/*Estilos Globales*/
body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  transition: background-color 400ms ease-in-out;
}
.contenedor {
  max-width: 1170px;
  margin: 0 auto;
}
h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 62px;
  font-weight: 500;
  color: #2C2C2C;
  margin-bottom: 10px;
  line-height: 1.1;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #2C2C2C;
  margin-top: 0;
  margin-bottom: 10px;
}
h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2C2C2C;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5;
  color: #95989A;
  margin-bottom: 40px;
  margin-top: 0;
}
h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 500;
  color: #2C2C2C;
}
a {
  text-decoration: none;
  color:#2C2C2C;
  transition: color 200ms ease-in;
}
a:hover {
  color:#00AEEF;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #95989A;
}
p.tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #95989A;

  padding: 3px 6px;
  margin: 0 5px 0 0;
  background-color: #eaeaea;
  border-radius: 2px;
  /*border: 1px solid #95989A;*/
  cursor: default;
}
i.fa-arrow-right {
  transition: 200ms linear;
}
.btn:hover i.fa-arrow-right {
   transform: translateX(10px);
}
.btn {
  /*Tipografia*/
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #00AEEF;
  padding: 12px 20px;
  width: 105px;
  /*Contenedor*/
  border-radius: 32px;
  border: 1px solid #00AEEF;
  background-color: #F9F9F9;
  cursor: pointer;
  /*Transición*/
  transition: background-color 200ms ease-in-out;
  }
.btn:hover {
  /*Tipografia*/
  color: #F9F9F9;
  /*Contenedor*/
  background-color: #00AEEF;
  /*box-shadow: 0px 3px 6px rgba(0, 174, 239, .5);*/
}
.btn:active {
  /*Contenedor*/
  border: 1px solid #008CC0;
  background-color: #008CC0;
}
i.fa-linkedin,
.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-dribbble,
.fa-behance {
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}
i.fa-linkedin:hover,
.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-dribbble:hover,
.fa-behance:hover {
  transform: scale(1.2);
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: default;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in;
}
[data-tooltip]:before {
  position: absolute;
  padding: 7px 20px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.2);
  content: attr(data-tooltip);
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
  color: #F9F9F9;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/*Indice*/
.indice [data-tooltip]:before,
[data-tooltip]:after {
  right: 50%;
}
.indice [data-tooltip]:before {
  margin-bottom: 0;
  margin-right: 10px;
}
.indice [data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  right: 100%;
}
ul.indice {
  list-style-type:none;
  text-align: right;
  position: fixed;
  float: right;
  right: 0px;
  top: calc(50% - 95px);
  z-index: 2;
}
li.indice-item {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2C2C2C;
}
li.indice-item a.active-bullet {
  margin: 0 16px -3px 10px;
  background: rgba(255, 255, 255, .1);
  border-radius: 50%;
  border: 4px solid #2C2C2C;
}
li.indice-item a {
  content: " ";
  width: 10px;
  height: 10px;
  margin: 0 20px 2px 10px;
  display: inline-block;
  background: rgba(0, 0, 0, .2);
  border-radius: 50%;
  transition: background 200ms ease-in;
}
li.indice-item a:hover {
  background: #00AEEF;
}
li.indice-item a.active-bullet:hover {
  background: rgba(255, 255, 255, .1);
}

#home [data-tooltip]:before,
[data-tooltip]:after {
  bottom: 50%;
}
#home [data-tooltip]:before {
  right: -150%;
  margin-bottom: 10px;
}
#home [data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  bottom: 100%;
}
/*Hamburger btn*/
.hamburger-menu {
  margin-top: 20px;
  display: none;
  float: right;
  width: 20px;
  height: 12px;
  cursor: pointer;
  margin-right: 10px;
}
.bar,
.bar:after,
.bar:before {
  width: 20px;
  height: 2px;
  /*border-radius: 4px;*/
}
.bar {
  position: relative;
  bottom: 15px;
  transform: translateY(25px);
  background: #95989A;
  transition: all 0ms 300ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}
.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #95989A;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: #95989A;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* Side Nav*/
.side-nav {
  z-index: 4;
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #00AEEF;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-300px);
  transition: transform 400ms ease-in-out;

}
ul.side-ul {
  padding: 0;
  margin: 0px;
  list-style-type:none;
}
.side-nav p {
  margin-left: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #F9F9F9;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;

}
li.side-nav-item {
  font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 500;
  padding-left: 20px;
  margin: 10px 0;
  transition: all 200ms ease-in-out;
}
li.side-nav-item:first-child {
  margin-top: 0;
}
li.side-nav-item:hover {
  background-color: #1AB6F0;
}
li.side-nav-item a {
  color: #F9F9F9;
}
.side-nav span {
  display: block;
  margin: 0 0 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F9F9F9;
}
.side-nav span:last-child {
  margin-bottom: 20px;
}
.side-nav i {
  margin: 0 0 20px 20px;
  color: #F9F9F9;
}

/*Barra de navegacion*/
.logo {
  opacity: .5;
  width: 42.7px;
  height: 50px;
  margin-top: 55px;
  display: inline-block;
  background: url("img/logo.svg") no-repeat center;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
.logo:hover {
  opacity: 1;
}
ul.nav-bar {
  display: inline-block;
  float: right;
  margin-top: 70px;
}
li.nav-item {
  display: block;
  float: left;
  padding-left: 30px;
}
li.nav-item a {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #95989A;
  transition: color 200ms ease-in-out;
  position: relative;
}
li.nav-item a:hover {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #6C6E6F;
}
li.nav-item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #00AEEF;
  transition: 0.4s;
}
li.nav-item a:hover:after {
  width: 60%;
}
li.nav-item a.active {
  font-weight: 700;
  color: #2C2C2C;
}
/*Home*/
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 span {
  font-weight: 700;
}
p#p-studient {
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #00AEEF;
  margin: 0;
}
/*Mouse animation*/
.mouse-wrapper {
  margin: 0 auto 50px auto;
  height: 48px;
  width: 30px;
  border: 2px solid #2C2C2C;
  border-radius: 18px;
}
.mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #2C2C2C;
  position: relative;
  top: 10px;
  left: 13px;
  -webkit-animation: scrolls 1.3s ease-out infinite;
}
@-webkit-keyframes scrolls{
  0%{
    top:10px; opacity:1; height:4px;
  }
  95%{
    top:18px; opacity:0; height:10px;
  }
  100%{
    top:8px; opacity:1; height:4px;
  }
}

/*About*/
#about {
  display: flex;
  padding-bottom: 40px;
}
.about-textbox {
  width: calc(50% - (50% - 585px));
  margin-left: calc(50% - 585px);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textbox {
  max-width: 480px;
}
.about-photo {
  width: 50%;
  height: 640px;
  display: inline-block;
  background-color: pink;
  /*background: url("img/") no-repeat center;*/
  background-size:cover;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.about-photo:hover {
  /*opacity: 1;*/
}
#about h2 {
  margin: 0;
}
#about h4 {
margin-top: 40px;
}
#about i.fa-linkedin,#about .fa-twitter {
  color: #00AEEF;
  display: inline-block;
  float: right;
}
#about i.fa-twitter {
  margin-right: 20px;
}

/*What i do*/
#whatido {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.skill-big-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-box {
  width: 370px;
  height: 100%;
  margin: 0;
  background-color: white;
  border-radius: 4px;
  cursor: default;
  transition: 200ms ease-in-out;
}
.skill-box:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.skill-box:hover {
  box-shadow: 0 6px 32px rgba(0, 0, 0, .2);
}
.skill-box p {
  margin: 50px 40px;
}
.skill {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #95989A;
  margin: 50px auto;
  transition: background-color 200ms ease-in-out;
}
#whatido h3 {
  transition: 200ms ease-in-out;
}
.skill-box:hover h3 {
 color: #00AEEF;
}
.skill-box:hover .skill {
 background-color: #00AEEF;
}

/*Projects*/
#projects {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.project {
  display: flex;
}

#projects .project-img-box {
  width: 60%;
  height: 500px;
  margin-bottom: 50px;
  background-color: pink;
  border-radius: 4px;
  float: left;
  transition: 200ms ease-in-out;
}
#projects .project-img-box:hover {
  box-shadow: 0 6px 32px rgba(0, 0, 0, .2);
}
#projects .project-info-box {
  width: 40%;
  height: 500px;
  margin-bottom: 50px;
  float: left;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .project-info {
  margin: 0;
  max-width: 300px;
}
#projects h5 {
margin-top: 0;
margin-bottom: 10px;
}
#projects p.tag {
margin: 0;
}
#projects p {
  display: inline-block;
  margin-bottom: 40px;
}

/*Contacto*/
#contact .contact-box {
  min-height: calc(100vh - 150px);
  display: flex;
}
#map {
  width: calc(50% - 10px);
  min-height: 100%;
  margin: 10px 0 10px 10px;
  display: inline-block;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
#map iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.contact-textbox {
  width: calc(50% - (50% - 585px));
  margin-right: calc(50% - 585px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.textbox {
  max-width: 480px;
}
#about h2 {
  margin: 0;
}
#about h4 {
margin-top: 40px;
}
#contact .textbox a {
  font-family: 'Open sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
#contact .textbox i {
 color: #95989A;
}
.icon-box {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
}
.icon-box:last-child {
  margin-bottom:0;
}
/*#contact {
  text-align: center;
}
#contact .contact-box {
  min-height: calc(80vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .contenedor a {
  font-family: 'Open sans', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
#contact p {
 padding: 0 10px;
}
#contact a, #contact p {
  display: inline-block;
}
#contact .contenedor i {
 padding: 0 10px 0 0;
 color: #95989A;
}*/

/*Social*/
#social i{
  margin: 0 20px;
  color: #2C2C2C;
}
#social{
  max-width: 100%;
  height: 100px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Footer*/
footer{
  height: 50px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #2C2C2C;
}
footer i.fa-heart {
  color: red;
}
footer a {
  position: absolute;
  right: 20px;
}
footer a:hover {
  color: #2C2C2C;
}

/*Responsive*/
@media screen and (max-width: 1205px){
  .contenedor {
    margin: 0 10px;
  }
  /*About*/
  .about-textbox {
    width: calc(50% - 10px);
    margin: 0 10px;
  }
  .contact-textbox {
    width: calc(50% - 10px);
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
   ul.indice {
     display: none;
   }
  ul.nav-bar {
    display: none;
  }
  header {
  z-index: 3;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
  }
  .logo {
    width: 36px;
    height: 42.5px;
    margin-top: 10px;
    margin-top: 10px;
    position: fixed;
    z-index: 3;
  }
  .hamburger-menu {
    display: inline-block;
  }
}

@media screen and (max-width: 844px) {
  #projects .a {
    margin-left: 10px;
  }
}
